<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/css/404.css">
    
    <title>404 Not Found</title>
</head>

<body>
    <main>
        <h1>We couldn't find what you're looking for :(</h1>
        <p>
            If you think it's us, not you, please do tell us at
            <a href="mailto:holla@simmer-studios.com">holla@simmer-studios.com</a>
        </p>
        <button class="btn" onclick="goBack()">Go Back</a></button>
    </main>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>