<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="golden spoon, about, history, timeline">
    <meta name="description" content="Golden Spoon ensures well-trained professional account managers are assigned
        to each client to ensure personalized service. Ready to give price estimates and
        assist clients in production for a realistic and reliable delivery target date. Highly
        motivated factory workers are also maintained to execute the most hygienic production and up to the present, it has consistently maintained highest quality of
        Golden Spoon herbal and food products.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
        integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/css/about.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143681013-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-143681013-1');
    </script>

    <title>Golden Spoon • About Us</title>
</head>

<body>
    <!-- Facebook -->
    <div class="icon-bar">
        <a href="https://www.facebook.com/seamaxxenterprises/" class="icon-wrapper"
            target="_blank">
            <i class="cream circle icon btn red-bg fab fa-facebook-f"></i>
            <span>Like Us On Facebook!</span>
        </a>
    </div>

    <header>

        <!-- Header Navigation -->
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links"
                    aria-label="Toggle navigation">
                    <img class="img-fluid" src="/public/images/menu_bars.png" width="30px" alt="menu bars">
                </button>
                <div class="collapse navbar-collapse" id="nav-links">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link mr-5" href="/">Home</a>
                        <a class="nav-item nav-link" href="/products">Our Products</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="/about">About Us</a>
                        <a class="nav-item nav-link ml-md-5" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Logo -->
        <div class="logo-wrapper">
            <a href="/">
                <img src="/public/images/logo_with_cream.png" alt="logo">
            </a>
        </div>

        <!-- Header Information -->
        <div class="container h-100">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-10 col-md-8 col-lg-6 red">
                    <h1 class="header-text text-center">About Us</h1>
                </div>
            </div>
        </div>
    </header>

    <main class="red">
        <div class="container d-flex flex-column justify-content-center">

            <!-- Description -->
            <div class="row mb-0 mb-md-3">
                <div class="col-12">
                    <p>
                        Golden Spoon ensures well-trained professional account managers are assigned
                        to each client to ensure personalized service. Ready to give price estimates and
                        assist clients in production for a realistic and reliable delivery target date. Highly
                        motivated factory workers are also maintained to execute the most hygienic production and up to
                        the
                        present, it has consistently maintained highest quality of
                        Golden Spoon herbal and food products.
                    </p>
                </div>
            </div>

            <!-- Mission -->
            <div class="row mb-0 mb-md-3">
                <div class="col-12">
                    <h2 class="heading-text">Mission</h2>
                    <p>
                        To provide Herbal and Food products in the highest standard at the most
                        reasonable cost.
                    </p>
                </div>
            </div>

            <!-- Vision -->
            <div class="row mb-0 mb-md-3">
                <div class="col-12">
                    <h2 class="heading-text">Vision</h2>
                    <p>
                        To have Golden Spoon brand in every Filipino household here and abroad, have
                        GOD, country, costumers and loved ones as our inspirations.
                    </p>
                </div>
            </div>


            <!-- History -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="heading-text">History</h2>
                    <p>
                        From a very humble beginning, SEAMAXX ENTERPRISES was established in 2006.
                        With the unfading trust and confidence of its growing clientele, now it boasts of
                        the well known brand Golden Spoon.
                    </p>
                </div>
            </div>

            <div class="row history fadein-left">
                <div class="col-12 col-md-3 text-center">
                    <div class="round pl-4"><span class="circle">01</span> 2006</div>
                </div>
                <div class="col-12 col-md-9">
                    <p>
                        We started with 10 employees, including the owner of Golden Spoon.
                        We came up with the brand - renting a bungalow with one bedroom.
                    </p>
                </div>
            </div>

            <div class="row history  fadein-right">
                <div class="col-12 col-md-3 text-center">
                    <div class="round pl-4"><span class="circle">02</span> 2009</div>
                </div>
                <div class="col-12 col-md-9">
                    <p>
                        We transfered in a two story building in Marikina and started
                        to grow to 25 employees.
                    </p>
                </div>
            </div>

            <div class="row history fadein-left">
                <div class="col-12 col-md-3 text-center">
                    <div class="round pl-4"><span class="circle">03</span>2016</div>
                </div>
                <div class="col-12 col-md-9">
                    <p>
                        Seamaxx Enterprises purchased an 859 sq. meter office and factory.
                        They accumulated 70 employees until today. The brand was also
                        nominated by Robinsons Corporation as Best herbal products.
                    </p>

                </div>
            </div>

            <div class="row history fadein-right mb-0">
                <div class="col-12 col-md-3 text-center">
                    <div class="round pl-4"><span class="circle">04</span> PRESENT</div>
                </div>
                <div class="col-12 col-md-9">
                    <p>
                        We continue to expand or export our products through consdolidators
                        in many parts of Australia, Canada, Guam, U.S., and Middle East.
                    </p>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div class="container h-100">
            <div class="row align-items-center justify-content-center position-relative">
                <div class="col-12 red text-center">
                    <h1 class="heading-text">We'd love to hear from you.</h1>
                    <a href="/contact">
                        <button class="btn round heading-button red-bg mt-3">
                            <h2 class="cream">TALK TO US</h2>
                        </button>
                    </a>
                </div>

                <nav class="navbar navbar-expand d-none d-md-block bottom">
                    <div class="container navbar-nav justify-content-center">
                        <a class="nav-item nav-link mx-3" href="/">Home</a>
                        <a class="nav-item nav-link mx-3" href="/products">Our Products</a>
                        <a class="nav-item nav-link mx-3" href="/about">About Us</a>
                        <a class="nav-item nav-link mx-3" href="/contact">Contact</a>
                    </div>
                </nav>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

    <!-- Waypoints -->
    <script src="/public/js/jquery.waypoints.min.js"></script>

    <!-- Custom Script -->
    <script src="/public/js/about.min.js"></script>
</body>

</html>