<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="golden spoon, herbal, tea, salabat, sambong, lagundi, pancit canton">
    <meta name="description"
        content="Herbal tea and food products in the highest standard at the most reasonable cost.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/css/home.css">

    <title>Golden Spoon</title>
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top" id="main-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-label="Toggle navigation">
                <img class="img-fluid" src="/public/images/menu_bars.png" width="30px">
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link mr-5" href="/">Home</a>
                    <a class="nav-item nav-link" href="/products">Our Products</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/about">About Us</a>
                    <a class="nav-item nav-link ml-md-5" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="fullscreen-video-wrapper">
            <video src="/public/images/banner_video.mp4" autoplay loop muted />
        </div>

        <div class="logo-wrapper">
            <img src="/public/images/logo.png">
        </div>

        <div class="banner-text-image-wrapper">
            <img src="/public/images/banner_text_image.png">
        </div>
    </header>

    <main>
        <button class="round btn" id="bestseller-button">
            <h1>OUR BESTSELLER</h1>
        </button>

        <section class="container" id="products-section">
            <div class="row align-items-center no-gutters" style="position: relative; height: 100%;">

                <div class="col-8 col-lg-6 order-0 order-lg-1 mt-5 mx-auto">
                    <img src="/public/images/salabat.png" class="img-fluid">
                </div>
                
                <div class="col-10 col-lg-6 px-3 order-1 order-md-0 mx-auto" style="margin-top: -50px;">
                    <h1 class="red" id="salabat-heading">SALABAT</h1>
                    <p class="red heavy">
                        is a 100% natural, refreshing, authentic and is a traditional Asian drink. Made of pure, natural
                        and fresh ginger carefully processed to maintain its hygienic state
                        to prevent the loss of important healing components.
                    </p>
                    <a href="#">
                        <button class="round btn mt-0 mt-lg-3" id="products-button">
                            <h2>OUR PRODUCTS</h2>
                        </button>
                    </a>
                </div>
                
                <img src="/public/images/leaves.png" id="leaves-1">
            </div>
        </section>
    </main>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>

    <script src="/public/js/fitty.min.js"></script>

    <script src="/public/js/home.js"></script>
</body>

</html>