:root {
	--red: #cd2229;
	--cream: #fff1d2;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
    height: 100%;
}

body {
	background-image: url(/public/images/tea_pouring.gif);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

main {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

main > h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3rem;
	font-weight: 200;
    color: var(--cream);
	text-shadow: 2px 2px var(--red);
	text-align: center;
	margin-bottom: 20px;
}

main > p {
    color: var(--cream);
    text-shadow: 2px 2px black;
    font-size: 1.25rem;
	text-align: center;
    margin-bottom: 30px;
}

main > p > a {
    text-decoration: underline;
    color: var(--cream);
}

main > button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 10px 40px 10px 40px;
	border-radius: 40px;
	background-color: rgb(205, 34, 41, 0.85);
	text-decoration: none;
	color: var(--cream);
	border: 1px var(--cream) solid;
    font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main > button:hover {
	cursor: pointer;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    main > h1 {
        font-size: 2.5rem;
    }
    
    main > button {
        padding: 8px 35px 8px 35px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    main > h1 {
        font-size: 2rem;
    }
    
    main > p {
        font-size: 1rem;
    }
    
    main > button {
        font-size: 1rem;
        padding: 6px 30px 6px 30px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    main > h1 {
        font-size: 1.75rem;
    }
    
    main > button {
        padding: 5px 25px 5px 25px;
    }
}

/* Extra extra small devices (iPhone 5/Galaxy S5) */
@media (max-width: 375px) {
    main > h1 {
        font-size: 1.5rem;
    }
}
