@import url('https://fonts.googleapis.com/css?family=Khula|PT+Sans+Narrow&display=swap');

/* Colors */
:root {
	--red: #cd2229;
	--cream: #fff1d2;
}

/* Colors */
.white {
	color: white;
}

.red {
	color: var(--red);
}

.cream {
	color: var(--cream);
}

/* Backgrounds */
.red-bg {
	background: var(--red);
}

.cream-bg {
	background: var(--cream);
}

/* Border Radius */
.round {
	border-radius: 50px;
}

.circle {
	border-radius: 50%;
	width: min-content;
	height: auto;
}

/* Absolute Positions */
.bottom {
	bottom: 0%;
}

/* Shapes, Objects & Attributes */
.icon-bar {
	position: fixed;
	top: 25%;
	right: 0%;
	width: 250px;
	height: min-content;
	border-radius: 40px;
	z-index: 300;
}

.icon-bar > a {
	text-decoration: none;
	color: var(--cream);
	font-weight: 600;
}

.icon-wrapper {
	position: absolute;
	right: -195px;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: var(--red);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
}

.icon-wrapper > .btn:hover {
	color: var(--cream);
}

.icon-bar:hover > .icon-wrapper {
	transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
}

.icon {
	font-size: 2.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

/* Globals */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Khula', sans-serif;
	line-height: 1.5;
	max-width: 100%;
	overflow-x: hidden !important;
	background-color: var(--cream);
	position: relative;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom: 0;
}

p {
	font-weight: 600;
}

header {
	height: 100vh;
	min-height: 550px;
	position: relative;
	background-image: url(/public/images/about_us_banner.jpg);
	background-position: center;
	background-size: cover;
}

/* Navigation */
nav.navbar {
	position: absolute;
	background: var(--cream);
	left: 0;
	right: 0;
	z-index: 100;
}

a.nav-link {
	position: relative;
	text-transform: uppercase;
	font-size: 1.25rem;
	color: var(--red);
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
}

a.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0px;
	left: 0px;
	background-color: var(--red);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.nav-link:hover::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

main {
	height: 100%;
	min-height: min-content;
	padding-top: 50px;
	padding-bottom: 50px;
}

main p {
	font-size: 1.25rem;
}

footer {
	height: 40vh;
	min-height: 400px;
	background: url(/public/images/footer_background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

footer nav.navbar {
	background: none;
}

footer .heading-text {
	text-shadow: none;
	letter-spacing: 0;
}

/* Bootstrap */
.container {
	min-height: 100%;
}

.row {
	height: 100%;
	min-height: min-content;
}

/* Logo */
.logo-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.logo-wrapper > a > img {
	position: absolute;
	width: 12.25rem;
	top: 70px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.header-text {
	font-size: 8rem;
	font-weight: 800;
	text-shadow: 2px 0 var(--red);
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 3px;
	line-height: 0.8;
}

.heading-text {
	opacity: 0; /* Waypoints */
	font-size: 5rem;
	font-weight: 900;
	text-shadow: 2px 0 var(--red);
	letter-spacing: 2px;
	font-weight: bold;
}

.heading-button {
	padding: 15px 60px 15px 60px;
}

.heading-button > h2 {
	font-size: 1.25rem;
	letter-spacing: 2px;
	font-weight: 800;
}

.history {
	position: relative;
	height: 150px;
	margin: 0px;
	margin-bottom: 30px;
	padding: 20px 20px 20px 20px;
	align-items: center;
}

.history:nth-child(odd) {
	border-right: 5px solid var(--red);
	border-radius: 70px;
	box-shadow: 6px 0.4rem var(--red);
}

.history:nth-child(even) {
	border-left: 3px solid var(--red);
	border-radius: 70px;
	box-shadow: -6px 0.4rem var(--red);
}

.history p {
	margin-bottom: 0;
}

.history .round {
	border-radius: 50px;
	position: relative;
	padding: 12px 0px 12px 30px;
	padding-left: 10%;
	background: var(--red);
	color: var(--cream);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25rem;
}

.history .circle {
	background: gold;
	color: var(--red);
	position: absolute;
	left: 0;
	top: 0px;
	height: 50px;
	width: 50px;
	padding-top: 5px;
	padding-left: 2px;
	box-shadow: 2px 0px 0 3px var(--cream);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fadein-left {
	opacity: 0;
	transform: translateX(-105%);
	transition: all 1s ease-in-out;
}

.fadein-right {
	opacity: 0;
	transform: translateX(105%);
	transition: all 1s ease-in-out;
}

.fadein-left.visible, .fadein-right.visible {
	opacity: 1;
	transform: translateX(0%);
}

/* Media Queries */
@media (max-width: 1199.98px) {
	.history:nth-child(odd) {
		box-shadow: 5px 0.4rem var(--red);
	}
	
	.history:nth-child(even) {
		box-shadow: -5px 0.4rem var(--red);
	}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
	footer {
		min-height: 350px;
	}

	.logo-wrapper > a > img {
		width: 11rem;
	}

	.header-text {
		font-size: 6rem;
	}

	.heading-text {
		font-size: 4.5rem;
	}
	
	.history {
		height: 120px;
		padding: 10px 10px 10px 10px;
	}
	
	.history:nth-child(odd) {
		box-shadow: 4px 0.3rem var(--red);
	}
	
	.history:nth-child(even) {
		box-shadow: -4px 0.3rem var(--red);
	}
	
	.history p {
		font-size: 1rem;
	}
	
	.history .round {
		padding-top: 6px;
		padding-bottom: 4px;
		font-size: 1.15rem;
	}
	
	.history .circle {
		height: 38px;
		width: 38px;
	}
	
	.history .round.sm-text {
		font-size: 1rem;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
	nav.navbar {
		background: rgb(255, 241, 210, 0.85);
	}
	
	a.nav-link:hover::before {
		visibility: hidden;
		-webkit-transform: none;
		transform: none;
	}
	
	main p {
		font-size: 1.15rem;
	}
	
	footer {
		min-height: 250px;
	}

	.header-text {
		font-size: 4rem;
	}

	.heading-text {
		font-size: 3rem;
	}
	
	.heading-button {
		padding-right: 3rem;
		padding-left: 3rem;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	
	.heading-button > h2 {
		font-size: 1rem;
	}

	.icon-wrapper {
		right: -205px;
	}

	.icon {
		font-size: 1.5rem;
	}
	
	.history {
		padding: 10px 10px 10px 10px;
	}
	
	.history:nth-child(odd) {
		box-shadow: 3px 0.3rem var(--red);
	}
	
	.history:nth-child(even) {
		box-shadow: -3px 0.3rem var(--red);
	}
	
	.history .circle {
		width: 32px;
		height: 32px;
		top: -1px;
	}
	
	.history .round {
		width: 40%;
		padding: 5px 0px 0px 0px;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	
	.history p {
		font-size: 0.9rem;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
	footer {
		min-height: 200px;
	}
	
	main p {
		font-size: 1rem;
	}
	
	.logo-wrapper > a > img {
		top: 60px;
		width: 11rem;
	}
	
	.header-text {
		font-size: 3rem;
	}

	.heading-text {
		font-size: 2.5rem;
	}
	
	.history p {
		font-size: 0.8rem;
	}
	
	.history:nth-child(odd) {
		box-shadow: 2px 0.3rem var(--red);
	}
	
	.history:nth-child(even) {
		box-shadow: -2px 0.3rem var(--red);
	}
	
	.history .circle {
		width: 27px;
		height: 27px;
	}
	
	.history .round {
		width: 45%;
		padding: 3px 0px 0px 0px;
		font-size: 0.9rem;
	}
}

/* Extra extra small devices (iPhone 5/Galaxy S5) */
@media (max-width: 375px) {
	
	main p {
		font-size: 0.9rem;
	}
	
	.logo-wrapper > a > img {
		top: 55px;
		width: 8rem;
	}

	.header-text {
		font-size: 2.5rem;
	}
	
	.history p {
		font-size: 0.75rem;
	}
	
	.history:nth-child(odd) {
		box-shadow: 1px 0.3rem var(--red);
	}
	
	.history:nth-child(even) {
		box-shadow: -1px 0.3rem var(--red);
	}
	
	.history .circle {
		width: 25px;
		height: 25px;
		top: -2px;
	}
	
	.history .round {
		width: 50%;
		padding-top: 3px;
		font-size: 0.8rem;
	}
	
}
