@import url('https://fonts.googleapis.com/css?family=Khula|PT+Sans+Narrow&display=swap');

:root {
	--red: #cd2229;
	--cream: #fff1d2;
}

/* Colors */
.white {
	color: white;
}

.red {
	color: var(--red);
}

.cream {
	color: var(--cream);
}

/* Backgrounds */
.red-bg {
	background: var(--red);
}

.cream-bg {
	background: var(--cream);
}

.cream-red-bg {
	background: linear-gradient(to top left, #cd2229 49.5%, #fff1d2 50.5%);
}

.red-cream-bg {
	background: linear-gradient(to top left, #fff1d2 49.5%, #cd2229 50.5%);
}

/* Shapes, Objects & Attributes */
.icon-bar {
	position: fixed;
	top: 25%;
	right: 0%;
	width: 250px;
	height: fit-content;
	border-radius: 40px;
	z-index: 9999;
}

.icon-bar > a {
	text-decoration: none;
	color: var(--cream);
	font-weight: 600;
}

.icon-wrapper {
	position: absolute;
	right: -195px;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: var(--red);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
}

.icon-wrapper > .btn:hover {
	color: var(--cream);
}

.icon-bar:hover > .icon-wrapper, .icon-bar:active > .icon-wrapper {
    transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
	border: solid 1px rgba(255, 241, 210, 0.50);
}

.icon {
	font-size: 2.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.info {
	height: 80vh;
	min-height: fit-content;
	padding-top: 50px;
	padding-bottom: 50px;
}

.divider {
	height: 10vh;
	min-height: 50px;
}

.round {
	border-radius: 50px;
}

.circle {
	border-radius: 50%;
	width: fit-content;
	height: auto;
}

.heavy {
	font-weight: 600;
}

/* Absolute Positions */
.bottom {
	bottom: 0%;
}

/* Globals */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Khula', sans-serif;
	line-height: 1.5;
	max-width: 100%;
	min-height: 100%;
	overflow-x: hidden !important;
}

h1,
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom: 0;
}

header {
	position: relative;
	height: 97vh;
	min-height: 400px;
	min-width: 100%;
	z-index: 5;
}

main {
	position: relative;
}

footer {
	height: 45vh;
	background: url(/public/images/footer_background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

/* Navigation Links */

nav.navbar {
	position: absolute;
	left: 0%;
	right: 0%;
	z-index: 100;
}

a.nav-link {
	position: relative;
	text-transform: uppercase;
	font-size: 1.25rem;
	color: var(--red);
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
}

a.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0%;
	left: 0%;
	background-color: var(--red);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.nav-link:hover::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Bootstrap */
.row {
	height: 100%;
	min-height: fit-content;
}

.img-fluid {
	opacity: 0;
}

/* Full Screen Background Video */
.fullscreen-video-wrapper {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}

.fullscreen-video-wrapper > video {
	position: absolute;
	display: block;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	width: auto;
    height: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
	z-index: 50;
	
	/* Fallback Image */
	background: url(/public/images/banner_image.jpg) no-repeat;
    background-size: cover; 
}

/* Logo */
.logo-wrapper {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 15;
}

.logo-wrapper > a > img {
	position: absolute;
	width: 12rem;
	top: 12.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 100;
}

.banner-text-image-wrapper {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
}

.banner-text-image-wrapper > img {
	position: absolute;
	width: 45rem;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 100;
}

.sticky-wrapper {
	height: 160px;
	position: absolute;
	top: -50px;
	left: 0%;
	right: 0%;
	z-index: 100;
	text-align: center;
}

/* Section Headings */
.heading-text {
	font-size: 5rem;
	font-weight: 900;
}

.heading-button {
	padding: 15px 60px 15px 60px;
}

.heading-button > h2 {
	font-size: 1.25rem;
	letter-spacing: 2px;
	font-weight: 800;
}

/* Carousel */
.gallery-cell {
	width: 20%;
}

.gallery-cell > img {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.flickity-page-dots {
	display: none;
}

/* Leaves with Floating Animation */
@keyframes float-to-right {
	0% {
		transform: matrix(0.99999, 0, 0, 0.99999, 0, 0);
	}

	50% {
		transform: matrix(0.99999, 0, 0, 0.99999, 40, 5);
	}

	100% {
		transform: matrix(0.99999, 0, 0, 0.99999, 0, 0);
	}
}

@keyframes float-to-left {
	0% {
		transform: matrix(0.99999, 0, 0, 0.99999, 0, 0);
	}

	50% {
		transform: matrix(0.99999, 0, 0, 0.99999, -40, 5);
	}

	100% {
		transform: matrix(0.99999, 0, 0, 0.99999, 0, 0);
	}
}

img.float-to-left-animation {
	animation: float-to-left 8s ease-in-out infinite;
}

img.float-to-right-animation {
	animation: float-to-right 8s ease-in-out infinite;
}

.leaves {
	position: absolute;
	width: 400px;
	bottom: -220px;
	z-index: 100;
}

@keyframes borderBottom {
	0% {
		border-bottom: 0px solid rgba(255, 0, 0, 0);
	}

	16.67% {
		border-bottom: 0.5px solid rgba(255, 0, 0, 0.1667);
	}

	33.4% {
		border-bottom: 1px solid rgba(255, 0, 0, 0.334);
	}

	50.1% {
		border-bottom: 1.5px solid rgba(255, 0, 0, 0.501);
	}

	66.8% {
		border-bottom: 2px solid rgba(255, 0, 0, 0.668);
	}

	83.5% {
		border-bottom: 2.5px solid rgba(255, 0, 0, 0.835);
	}

	100% {
		border-bottom: 3px solid rgba(255, 0, 0, 1);
	}
}

#bestseller-button {
	position: sticky;
	top: 0%;
	background: var(--cream);
	padding: 15px 30px 15px 30px;
	z-index: 2;
}

#bestseller-button:hover {
	animation: borderBottom ease-in forwards 0.25s;
}

#bestseller-button > h1 {
	color: var(--red);
	font-weight: 900;
	font-size: 2rem;
	letter-spacing: 2px;
}

/* Media Queries */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
	.logo-wrapper > a > img {
		top: 15%;
		width: 12rem;
	}

	.banner-text-image-wrapper > img {
		width: 45rem;
	}

	.sticky-wrapper {
		height: 100px;
		top: -40px;
	}

	.leaves {
		bottom: -190px;
		width: 250px;
	}

	.heading-text {
		font-size: 4.5rem;
	}

	.heading-button {
		padding: 10px 40px 10px 40px;
	}

	.gallery-cell {
		width: 30%;
	}

	#bestseller-button {
		padding: 10px 25px 10px 25px;
	}

	#bestseller-button > h1 {
		font-size: 2rem;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
	nav.navbar {
		background: rgb(255, 241, 210, 0.5);
	}
	
	.icon-wrapper {
		right: -205px;
	}
	
	.icon {
		font-size: 1.5rem;
	}
	
	.banner-text-image-wrapper > img {
		width: 35rem;
	}

	.leaves {
		bottom: -180px;
		width: 225px;
	}

	.heading-text {
		font-size: 3rem;
	}

	#bestseller-button {
		padding: 10px 20px 10px 20px;
	}

	#bestseller-button > h1 {
		font-size: 1.75rem;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
	.banner-text-image-wrapper > img {
		width: 25rem;
	}
	
	.heading-text {
		font-size: 2.5rem;
	}
	
	.leaves {
		bottom: -160px;
		width: 200px;
	}

	#bestseller-button {
		padding: 10px 20px 10px 20px;
	}

	#bestseller-button > h1 {
		font-size: 1.25rem;
	}
}

/* Extra extra small devices (iPhone 5/Galaxy S5) */
@media (max-width: 375px) {
	.logo-wrapper > a > img {
		width: 7rem;
	}

	.banner-text-image-wrapper > img {
		width: 19rem;
	}
	
	.leaves {
		bottom: -120px;
		width: 150px;
	}
	
	.sticky-wrapper {
		height: 100px;
		top: -20px;
	}

	#bestseller-button {
		padding: 5px 15px 5px 15px;
	}

	#bestseller-button > h1 {
		font-size: 1rem;
	}
}
