@import url('https://fonts.googleapis.com/css?family=Khula|PT+Sans+Narrow&display=swap');

/* Colors */
:root {
	--red: #cd2229;
	--cream: #fff1d2;
}

.white {
	color: white;
}

.red {
	color: var(--red);
}

.cream {
	color: var(--cream);
}

/* Background Colors */
.bg-white {
	background: white;	
}

.bg-red {
	background: var(--red);
}

.bg-cream {
	background: var(--cream);
}

/* Font-Weight */
.heavy {
	font-weight: 600;
}

/* Border Radius */
.round {
	border-radius: 50px;
}

/* Shapes, Objects & Attributes */
.icon-bar {
	position: fixed;
	top: 25%;
	right: 0%;
	width: 250px;
	height: fit-content;
	border-radius: 40px;
	z-index: 300;
}

.icon-bar > a {
	text-decoration: none;
	color: var(--cream);
	font-weight: 600;
}

.icon-wrapper {
	position: absolute;
	right: -195px;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: var(--red);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
}

.icon-bar:hover > .icon-wrapper, .icon-bar:active > .icon-wrapper {
    transform: translateX(-170px);
	-webkit-transform: translateX(-170px);
	border: solid 1px rgba(255, 241, 210, 0.50);
}

.icon {
	font-size: 2.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

/* Globals */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Khula', sans-serif;
	line-height: 1.5;
	max-width: 100%;
    overflow-x: hidden !important;
	background-color: var(--cream);
	position: relative;
}

h1,
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom: 0;
}

p {
    font-weight: 600;
}

header {
    height: 95vh;
    position: relative;
    background-image: url(/public/images/products_banner.jpg);
    background-position: center;
    background-size: cover;
}

.header-text {
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 3px;
    line-height: 0.8;
}

/* Navigation */ 
nav.navbar{
    position: absolute;
    background: var(--cream);
    left: 0;
    right: 0;
    z-index: 100;
}

a.nav-link {
	position: relative;
	text-transform: uppercase;
	font-size: 1.25rem;
	color: var(--red);
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 800;
    letter-spacing: 2px;
}

a.nav-link::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--red);
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.nav-link:hover::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/* Logo */
.logo-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% ;
	overflow: hidden;
}

.logo-wrapper > a > img {
	position: absolute;
	width: 12.25rem;
	top: 10%;
	left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.header-product-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.header-product-wrapper > img {
    position: absolute;
    width: 500px;
    bottom: -50;
    right: 0;
}

.card {
    border: none;
    background-color: var(--cream);
}

.card > img {
    transform: scale(0.85);
    transition: all linear 0.1s;
}

.card > img:hover {
    transform: scale(1.0);
}

#rebranding-text {
    width: 60%;
    font-size: 1.25rem;
    padding: 18px 5px 18px 5px;
    font-weight: 800;
    letter-spacing: 2px;
}


/* Media Queries */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
	.logo-wrapper > a > img {
		top: 15%;
		width: 12rem;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	
	nav.navbar {
		background: rgb(255, 241, 210, 0.5);
	}
	
	.icon-wrapper {
		right: -205px;
	}
	
	.icon {
		font-size: 1.5rem;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/* Extra extra small devices (iPhone 5/Galaxy S5) */
@media (max-width: 375px) {
	
	.logo-wrapper > a > img {
		width: 7rem;
	}
}
